<!DOCTYPE html>
<html lang="en" xlms:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
	crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>

	<div class="container">



		<h4>School Of IT Faculty Directory</h4>
		<hr>
		
		<!-- Create a button to add new faculty -->
		<a th:href="@(/Faculties/viewAddForm)"class"btn btn-dark btn-sm mb-2">Add New Faculty Here</a>
		
		<table class="table table-bordered table-dark">
			<thead>

				<tr class="bg-danger">
					<th>FirstName</th>
					<th>LastName</th>
					<th>Title</th>
					<th>Email</th>
					<th>Update Info</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="theFaculties : ${faculties}">
					<td th:text="${theFaculties.firstName}"></td>
					<td th:text="${theFaculties.lastName}"></td>
					<td th:text="${theFaculties.Title}"></td>
					<td th:text="${theFaculties.email}"></td>
					
					<!-- Update Button -->
					<td>
					<a th:href="@{/Faculties/viewUpdateForm(facultyId=${theFaculty.id})}"
					class="btn btn-light btn-sm">Update</a>
					
					<!-- Delete Button -->
					<td>
					<a th:href="@{/Faculties/delete(facultyId=${theFaculty.id})}"
					class="btn btn-danger btn-sm"onclick="if(!(confirm('Please confirm that you want to delete this Faculty')))return false">Delete</a>
				</tr>
			</tbody>

		</table>
	</div>

</body>
</html>