<!DOCTYPE html>
<html lang="en" xlms:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h4>School Of IT Faculty Directory</h4>
	<hr>
	<table border="1">
		<thead>

			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="theFaculties : ${faculties}">
				<td th:text="${theFaculties.firstName}"></td>
				<td th:text="${theFaculties.lastName}"></td>
				<td th:text="${theFaculties.email}"></td>	
			</tr>
		</tbody>

	</table>

</body>
</html>